@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Violet Sans';
  src: url('~/assets/fonts/VioletSans-Regular.woff')
}

html {
  font-family: 'Violet Sans';
}

@layer utilities {
  .wrapper {
    @apply max-w-[768px] ml-auto mr-auto mt-0 mb-0 w-full
  }
  .main-transition {
    @apply hover:opacity-70 focus:opacity-70 transition-opacity focus:outline-none
  }
}




@media (min-width: 576px) {
  html {
    font-size: 106.25%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 112.5%;
  }
}